.footer {
    justify-content: space-around;
    display: flex;
    margin-top: 150px;
    padding-top: 107px;
    padding-bottom: 107px;
}

.footer-links {
    display: flex;
    
}

.links {
    display: flex;
    flex-direction: column;
    margin-right: 75px;
}
.links a {
    font-family: RobotoM, sans-serif;
    color: #fff;
    text-decoration: none;
    margin-bottom: 19px;
}
.links a:hover,
.links a:focus {
    color: gray;
}

.link-title {
    margin-bottom: 40px;
    font-size: 20px;
    font-family: RobotoM, sans-serif;
    color: #fff;
    margin-top: 0;
}

.inf-location,
.inf-phone {
    display: flex;
    align-items: center;
    font-family: RobotoM, sans-serif;
    color: #fff;
}
.inf-location {
    margin-bottom: 10px;
}
.inf-phone {
    margin-left: 5px;
}

.inf-location  img,
.inf-phone img {
    margin-right: 17px;
}


.footer-info {
}


.info-logos {
    margin-top: 30px;
}
.info-logos a {
    text-decoration: none;
    margin-right: 24px;
}


